{
100% 
    transform: scale(1);
    opacity: 1;

}


body {
margin: 0;
padding: 0;
font-family: 'Times New Roman', serif;
background: linear-gradient(135deg, #e6f3ff 0%, #ffe5c2 100%);
}
.navbar {
background-color: #1f2d3d;
padding: 10px 20px;
}


.navbar ul {
list-style: none;
display: flex;
align-items: center;
margin: 0;
padding: 0;
}


.navbar li {
margin-left: 25px;
}


.navbar a {
text-decoration: none;
color: white;
font-size: 1.2rem;
padding: 10px 18px;
transition: 0.3s;
display: flex;
align-items: center;
}


.navbar a:hover {
background-color: #3498db;
border-radius: 6px;
}


.navbar-logo {
margin-right: auto;
}


.logo-img {
width: 48px;
height: 48px;
border-radius: 50%;
object-fit: cover;
flex-shrink: 0;
margin-right: 8px;
}


.logo-text {
font-size: 1.5rem;
color: white;
font-weight: bold;
margin-left: 0;
}
.logo-diaries {
color: #3498db;
}
.hero {
background-image: url('https://followclass.files.wordpress.com/2016/11/gif2_1200x675_v2-0.gif');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-color: rgba(255, 255, 255, 0.7);
background-blend-mode: overlay;
padding: 70px 20px;
display: flex;
justify-content: center;
text-align: center;
}


.hero-content {
max-width: 800px;
}
.hero-logo {
width: 200px;
height: 200px;
border-radius: 50%;
object-fit: cover;
margin-bottom: 15px;
object-position: center center;
border: 5px solid white;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
animation: bounce-in 0.8s ease-out;
}


.text-content h1 {
font-size: 70px;
color: #e67e22;
margin-bottom: 10px;
}
.logo-diaries {
color: #3498db;
}


.text-content p {
font-size: 40px;
color: #34495e;
margin-bottom: 30px;
}
.btn-youtube {
background-color: #ff7b00;
padding: 15px 35px;
color: white;
font-size: 1.3rem;
border-radius: 10px;
display: inline-block;
text-decoration: none;
font-weight: bold;
transition: 0.3s ease;
}


.btn-youtube:hover {
transform: translateY(-3px);
background-color: #ff8f1a;
}
.info-section {
padding: 80px 20px;
background-color: #ffc675;
}


.info-container {
max-width: 1400px;
margin: 0 auto;
}


.info-content {
background-image: url('https://cdn.dribbble.com/userupload/19646652/file/original-b84277d6110f0722a534324ac2c977a8.gif');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-color: rgba(255, 255, 255, 0.85);
background-blend-mode: overlay;
padding: 70px;
border-radius: 20px;
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
min-height: 450px;
display: flex;
align-items: center;
gap: 60px;
}
.info-text h2 {
color: #e67e22;
font-size: 45px;
margin-bottom: 15px;
text-shadow: 2px 2px 4px rgba(255, 255, 255, 1);
}
.info-text p {
color: #1f2d3d;
font-size: 28px;
line-height: 1.6;
margin-bottom: 40px;
text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
}
.info-image-box {
flex-shrink: 0;
max-width: 350px;
padding: 10px;
background-color: rgba(255, 255, 255, 0.5);
border-radius: 15px;
}


.info-image-box img {
width: 100%;
max-width: 330px;
}
